        <link rel="Stylesheet" href="/css/user_layout.css">
        <h1>
            user page and sent following <%= udaynameparam %>

            <p> username: <%= userDetail.email %></p>
        </h1>
